#base {
    -fx-border-color: black;
}
#button_closeItem, #button_minimizeOrMaximize, #button_editConnectionName {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
#button_disconnectFromDatabase {

}